* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: black;
}

nav {
  background-color: #0f171e;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #3498db;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

input {
  margin-left: 1rem;
  width: 15rem;
  border-radius: 1rem;
  height: 2rem;
}
